<nav class="navbar navbar-expand-lg navbar-light 
bg-danger bg-gradient">
    <div class="navbar-brand">
    <img src="https://ik.imgkit.net/3vlqs5axxjf/PCWW/uploadedImages/uploads/2010/09/google-travel-logo2.jpg?tr=w-768%2Cfo-auto" width="3%" height="3%">
    <a class="MenuItems" (click)="login()" routerLinkActive="active"  style="cursor: pointer; color: white; text-decoration: none;">Login</a>


</div>
</nav>
<div>
    <img
      src="https://media.istockphoto.com/id/1470705281/photo/friendly-asian-female-flight-attendant-serving-food-drink-and-talking-to-passengers-on.jpg?s=1024x1024&w=is&k=20&c=JhqWnHzVV4pcU3GLNDEkDORg0ZTEEue4cXAKWBS7RO8="
      width="100%"
      height="3%"
    />
  </div>
  <router-outlet></router-outlet>
