<nav class="navbar navbar-expand-lg navbar-light 
bg-danger bg-gradient">
    <div class="navbar-brand">
    <img src="https://ik.imgkit.net/3vlqs5axxjf/PCWW/uploadedImages/uploads/2010/09/google-travel-logo2.jpg?tr=w-768%2Cfo-auto" width="3%" height="3%">
    <a class="MenuItems" routerLink="Home/login">Login</a>
    <a class="MenuItems" routerLink="Home/SignUp">SignUp</a>
    <a class="MenuItems" routerLink="Home/About">About Us</a>
    <a class="MenuItems" routerLink="Home/Media">Media Center</a>
    <a class="MenuItems" routerLink="Home/Career">Career</a>
    <a class="MenuItems" routerLink="Home/Refunds">RefundQ&A</a>

</div>
</nav>
<router-outlet></router-outlet>
<div>
    
<img src="https://media.istockphoto.com/id/1470705281/photo/friendly-asian-female-flight-attendant-serving-food-drink-and-talking-to-passengers-on.jpg?s=1024x1024&w=is&k=20&c=JhqWnHzVV4pcU3GLNDEkDORg0ZTEEue4cXAKWBS7RO8=" width="100%" height="3%">
</div>



